<%#= simple_form_for @task, html: { class: 'form-horizontal' } do |f| %>
<div class="col-xs-11">
	<%= simple_form_for @task,  html: { class: 'form-horizontal' }, remote: true do |f|   %>
	  <%= f.input :name, placeholder: 'Event', label: 'Task'%>
	  <%#= f.input :end_date, as: :date_picker %>
	  <div style="display:none;"><%= f.input :end_date%></div>
	  <div style="display:none;"><%= f.input :event_id%></div>
	  
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
</div>
