<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :summary, "Event" %><br>
    <%= f.text_field :summary %>
  </div>
  
  <!-- location field placeholder -->

  <div class="field">
    <%= f.label :startDate, "Start Date" %><br>
    <%= f.date_select :startDate %>
  </div>
  <div class="field">
    <%= f.label :startDateTime, "Start Time" %><br>
    <%= f.datetime_select :startDateTime %>
  </div>
  
  <div class="field">
    <%= f.label :endDate, "End Date" %><br>
    <%= f.date_select :endDate %>
  </div>
  <div class="field">
    <%= f.label :endDateTime, "End Time" %><br>
    <%= f.datetime_select :endDateTime %>
  </div>


  <div class="field">
    <%= f.label :endTimeUnspecified, "All Day Event" %><br>
    <%= f.check_box :endTimeUnspecified %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
