<% @events.each do |event| %>
  <% if event.startDate == Date.today %> <!--TODO: Should be @calendar.day -->
  <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#<%= event.id %>">
              <table>
                <tbody>
                    <% if event.startDate == Date.today %> <!--TODO: Correspond with @date -->
                      <table>
                        <tr><%= event.startDateTime.strftime('%l:%M') %> - <%= event.endDateTime.strftime('%l:%M %p') %></tr>
                        <tr><h4><%= event.summary %></h4></tr> <!-- Name of event -->
                        <%# if event.location is not nil %>
                          <!--<tr><%#= event.location %></tr>--> <!-- TODO: ensure event has location attribute -->
                        <%# end %>
                        <!--<tr><%#= event.startDate %></tr>--> <!-- for debugging -->
                      </table>
                    <% end %>
                <tbody>
              </table>
            </a>
          </p>
        </div>

        <div id="<%= event.id %>" class="panel-collapse collapse">
          <div class="panel-body">
            <% event.tasks.each do |task| %>
              <tr>
                <% if task.is_complete == true %>
                  <td class="centered"><%= link_to(image_tag("icons/full.png", size: "16") , edit_task_path(task, status: 'uncomplete', from: 'event')) %></td>
                <% else %>
                  <td class="centered"><%= link_to(image_tag("icons/empty.png", size: "16"), edit_task_path(task, status: 'completed', from: 'event')) %></td>
                <% end %>
                <%= task.name %>
              </tr></br>
            <% end %>
          </br>
            <%= link_to(image_tag("icons/add.png", size: "16"), new_task_path )%>
<!--           <div class="row">
            <input type="hidden" name="count" value="1" />
                <div class="control-group" id="fields">
                    <div class="controls" id="profs"> 
                        <form class="input-append">
                            <div id="field"><input autocomplete="off" class="input" id="field1" name="prof1" type="text" placeholder="Type something" data-items="8"/><button id="b1" class="btn add-more" type="button"><%= link_to(image_tag("icons/add.png", size: "16"), new_task_path )%></div>
                        </form>
                    <br></div>
                </div>
            </div>
          </div> -->
        </div>
      </div>
  </div>
  <% end %>
<% end %>


<script>
$(function () {

    var active = true;

    $('#collapse-init').click(function () {
        if (active) {
            active = false;
            $('.panel-collapse').collapse('show');
            $('.panel-title').attr('data-toggle', '');
            $(this).text('Hide your tasks');
        } else {
            active = true;
            $('.panel-collapse').collapse('hide');
            $('.panel-title').attr('data-toggle', 'collapse');
            $(this).text('Show all tasks');
        }
    });
    
    $('#accordion').on('show.bs.collapse', function () {
        if (active) $('#accordion .in').collapse('hide');
    });

});
</script>



