<% @events.each do |event| %>
  <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
              <br /> <!--TODO: temp formatting fix -->
              <br /> <!--TODO: temp formatting fix -->

              <table>
                <tbody>
                    <% if event.startDate == Date.today %> <!--TODO: Correspond with @date -->
                      <table>
                        <tr><%= event.startDateTime.strftime('%l:%M') %> - <%= event.endDateTime.strftime('%l:%M %p') %></tr>
                        <tr><h4><%= event.summary %></h4></tr> <!-- Name of event -->
                        <%# if event.location is not nil %>
                          <!--<tr><%#= event.location %></tr>--> <!-- TODO: ensure event has location attribute -->
                        <%# end %>
                        <!--<tr><%#= event.startDate %></tr>--> <!-- for debugging -->
                      </table>
                      <br /> <!--TODO: temp formatting fix -->
                    <% end %>
                <tbody>
              </table>
            </a>
          </p>
        </div>

        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <% event.tasks.each do |task| %>
              <tr>
                <% if task.is_complete == true %>
                  <td class="centered"><%= image_tag("icons/full.png", size: "16") %></td>
                <% else %>
                  <td class="centered"><%= link_to(image_tag("icons/empty.png", size: "16"), edit_task_path(task, is_complete: true, from: 'event')) %></td>
                <% end %>
                <td><%= link_to task.name, task_path(task) %></td>x
              </tr></br>
            <% end %>
          <div class="row">
            <input type="hidden" name="count" value="1" />
                <div class="control-group" id="fields">
                    <div class="controls" id="profs"> 
                        <form class="input-append">
                            <div id="field"><input autocomplete="off" class="input" id="field1" name="prof1" type="text" placeholder="Type something" data-items="8"/><button id="b1" class="btn add-more" type="button"><%= link_to 'New Task', new_task_path %></button></div>
                        </form>
                    <br></div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
<% end %>

<br>


