  <div class="row" id="cal">
    <div class="col-xs-7"> 
    <p id="today-year"><%= Date.today.strftime("%Y") %></p>

    <table id="months">
      <td></td>
      <td><%= link_to 'jan', edit_calendar_path(@calendar, status: '1_m') %></td>
      <td><%= link_to 'feb', edit_calendar_path(@calendar, status: '2_m') %></td>
      <td><%= link_to 'mar', edit_calendar_path(@calendar, status: '3_m') %></td>
      <td><%= link_to 'apr', edit_calendar_path(@calendar, status: '4_m') %></td>
      <td><%= link_to 'may', edit_calendar_path(@calendar, status: '5_m') %></td>
      <td><%= link_to 'jun', edit_calendar_path(@calendar, status: '6_m') %></td>
      <td><%= link_to 'jul', edit_calendar_path(@calendar, status: '7_m') %></td>
      <td><%= link_to 'aug', edit_calendar_path(@calendar, status: '8_m') %></td>
      <td><%= link_to 'sep', edit_calendar_path(@calendar, status: '9_m') %></td>
      <td><%= link_to 'oct', edit_calendar_path(@calendar, status: '10_m') %></td>
      <td><%= link_to 'nov', edit_calendar_path(@calendar, status: '11_m') %></td>
      <td><%= link_to 'dec', edit_calendar_path(@calendar, status: '12_m') %></td>
    </table>    

    <table id="days"> 
      <td>sun</td><td>mon</td><td>tue</td><td>wed</td><td>thu</td><td>fri</td><td>sat</td>
    </table> 

    <div id="cal-frame">
      <table class="curr"> 
        <tr>
          <div id="hidden" class="hidden"><%= month = @calendar.month.to_i %></div>
          <% @beginning_of_month = Date.civil(2015, month, 1) %>
          <% @end_of_month = Date.civil(2015, month, -1) %>

        <% (@beginning_of_month..@end_of_month).each do |d| %>
          <% if d == @beginning_of_month %>
            <% d.wday.times do %> <td class='offset'></td> <% end %>
          <% end %>
          <% if d.wday == 0 %> </tr><tr> <% end %>
          <td> <%= d.day %> </td>
        <% end %>
        </tr>
      </table> 
    </div> 
  </div>